---
- name: Installation de Node Exporter
  hosts: serveurs
  become: yes
  tasks:
    
    - name: Créer l'utilisateur prometheus
      user:
        name: prometheus
        shell: /bin/false
        system: yes
        create_home: no
    
    - name: Installer les dépendances
      apt:
        name:
          - wget
          - tar
        state: present
    
    - name: Télécharger Node Exporter
      get_url:
        url: https://github.com/prometheus/node_exporter/releases/download/v1.7.0/node_exporter-1.7.0.linux-amd64.tar.gz
        dest: /tmp/node_exporter.tar.gz
    
    - name: Extraire Node Exporter
      unarchive:
        src: /tmp/node_exporter.tar.gz
        dest: /tmp/
        remote_src: yes
    
    - name: Copier le binaire Node Exporter
      copy:
        src: /tmp/node_exporter-1.7.0.linux-amd64/node_exporter
        dest: /usr/local/bin/node_exporter
        mode: '0755'
        remote_src: yes
    
    - name: Créer le service systemd pour Node Exporter
      copy:
        content: |
          [Unit]
          Description=Node Exporter
          After=network.target
          
          [Service]
          User=prometheus
          ExecStart=/usr/local/bin/node_exporter
          
          [Install]
          WantedBy=multi-user.target
        dest: /etc/systemd/system/node_exporter.service
    
    - name: Démarrer Node Exporter
      systemd:
        name: node_exporter
        state: started
        enabled: yes
        daemon_reload: yes
    
    - name: Afficher le statut
      debug:
        msg: "Node Exporter installé sur {{ inventory_hostname }} - Port 9100"
